<li>
  {{question.author}}'s {{question.question}}
  {{#if isImageShowing}}
    <p><img src={{question.image}} alt={{question.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>Delete</button>
</li>
